# Environments
venv/
venv
.env

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / Packaging
build/
dist/
*.egg-info/
*.egg

# Tooling / Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.numba_cache

# IDEs
.vscode/
.idea/

# Project specific (Data / Outputs)
data/
models/
results/
*.log

# Secrets / Local configs
config/api_keys.py
config/simfin_data.py